:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --critial-dark-900: #342146;
  --critial-900: #fde9f2;
  --critial: #ec3b8c;
  --high-dark-900: #373727;
  --high-900: #fef4e3;
  --high: #f8a000;
  --medium-dark-900: #132b5f;
  --medium-900: #ecefff;
  --medium: #556cfd;
  --low-dark-900: #06403d;
  --low-900: #e6fcef;
  --low: #1cc764;
  --none-dark-900: #0d325b;
  --none: #3b8bec;
  --accent-300: #e40f00;
  --accent-200: #ff1b0b;
  --accent: #ff6156;
  // --primary-300: #006bcf;
  --primary-200: #00c58e99;
  --primary: #00c58e;
  --text-dark-300: #8b98a4;
  --text-dark-200: #c3cad1;
  --text-dark: #fbfdff;
  --bg-dark-300: #001932;
  --bg-dark-200: #0e243b;
  --bg-dark: #1c3043;
  --bg-table-light-2: #f8f9fd;
  --border-light: #e2e8f0;
  --border-dark: #c3cad1;
  --text-light-300: #8b949b;
  --text-light-200: #545f6a;
  --text-light: #2f495e;
  --bg-light-300: #eaeef9;
  --bg-light-200: #f3f6fc;
  --bg-light: #fbfdff;
}
